{% macro map(alliance_url='alliances.js', shard='shard0', max_size=100, short_name=none, group_type=none, unaffiliated=false, show_labels=true, show_control=true) -%}
{% from "macros/_map_tooltip.html" import map_tooltip with context %}


<div class="unit whole">
    <div id="ScreepsMapFlex" class="ScreepsMapFlex spinner">
        <div id="ScreepsMapContainer" class="ScreepsMapContainer"></div>
        <div id="ScreepsColorKeyContainer" class="ScreepsColorKeyContainer"></div>
    </div>

    {{ map_tooltip() }}

    <script type="text/javascript" language="javascript">
        const maxSize = {{ max_size }};
        const alliance_url = '{{ alliance_url }}';
        const shard = '{{ shard }}';
        const shortName = {% if short_name %}'{{ short_name }}'{% else %}undefined{% endif %};
        const groupType = {% if group_type %}'{{ group_type }}'{% else %}undefined{% endif %};
        const unaffiliated = {{ unaffiliated | lower }};
        const showControl = {{ show_control | lower }};
        const showLabels = {{ show_labels | lower }};

        window.onload = async function () {
            region = new ScreepsRegion(`W${maxSize}N${maxSize}`, `E${maxSize}S${maxSize}`);
            mapView = new ScreepsMap(
                {
                    spinnerHostId: "ScreepsMapFlex",
                    mapHostId: "ScreepsMapContainer",
                    legendHostId: "ScreepsColorKeyContainer",
                    roomTooltipHostId: "ScreepsMapTooltip",
                    terrainUri: `/static/img/screeps_${shard}_terrain.png`,
                    legendUrlPrefix: '/a/',
                    shard,
                    region,
                    showLabels,
                    showControl,
                    style: { 'room-padding': 10 }
            });
            mapView.setSpinnerVisible(true);

            const roomData = await $.getJSON('/map/{{ shard }}/rooms.js');
            console.log('room data loaded');
            mapView.setRoomData(roomData);

            const zoneData = await $.getJSON('/scanner/{{ shard }}.novice.area.json');
            console.log('zone data loaded');
            mapView.setZoneData(zoneData);

            if (groupType === "battle") {
                let battles = await $.getJSON(`/vk/battles_full.json`);
                mapView.setBattleData(battles);
            } else {
                let alliances = await $.getJSON(alliance_url);
                console.log('alliance data loaded');
                if (alliance_url === "/vk/bots/league.json")
                    alliances = alliances.bots;
                mapView.setAllianceData(alliances);
            }

            if (shortName) {
                mapView.setAlliance(shortName);
                mapView.setGroupType('user');
            }
            if (groupType) {
                mapView.setGroupType(groupType);
            }
            if (unaffiliated) {
                mapView.allowUnaffiliated();
            }
            mapView.render();
        }
    </script>
</div>

{%- endmacro %}
