{% macro multipleMaps(shortname=None) -%}
{% from "macros/_map_tooltip.html" import map_tooltip with context %}

<ul class="tabs" data-tabs id="tabs_maps">
    <li class="tabs-title is-active"><a href="#panelMap0" aria-selected="true"
            onclick="initializeShard('shard0')">Shard0</a></li>
    <li class="tabs-title"><a href="#panelMap1" onclick="initializeShard('shard1')">Shard1</a></li>
    <li class="tabs-title"><a href="#panelMap2" onclick="initializeShard('shard2')">Shard2</a></li>
    <li class="tabs-title"><a href="#panelMap3" onclick="initializeShard('shard3')">Shard3</a></li>
</ul>

<div class="tabs-content" data-tabs-content="tabs_maps">
    <div class="tabs-panel is-active" id="panelMap0">
        <div class="unit whole">
            <div id="ScreepsMapFlex-shard0" class="ScreepsMapFlex spinner">
                <div id="ScreepsMapContainer-shard0" class="ScreepsMapContainer"></div>
                <div id="ScreepsColorKeyContainer-shard0" class="ScreepsColorKeyContainer"></div>
            </div>
            {{ map_tooltip(tooltipId="ScreepsMapTooltip-shard0") }}
        </div>
    </div>
    <div class="tabs-panel" id="panelMap1">
        <div class="unit whole">
            <div id="ScreepsMapFlex-shard1" class="ScreepsMapFlex spinner">
                <div id="ScreepsMapContainer-shard1" class="ScreepsMapContainer"></div>
                <div id="ScreepsColorKeyContainer-shard1" class="ScreepsColorKeyContainer"></div>
            </div>
            {{ map_tooltip(tooltipId="ScreepsMapTooltip-shard1") }}
        </div>
    </div>
    <div class="tabs-panel" id="panelMap2">
        <div class="unit whole">
            <div id="ScreepsMapFlex-shard2" class="ScreepsMapFlex spinner">
                <div id="ScreepsMapContainer-shard2" class="ScreepsMapContainer"></div>
                <div id="ScreepsColorKeyContainer-shard2" class="ScreepsColorKeyContainer"></div>
            </div>
            {{ map_tooltip(tooltipId="ScreepsMapTooltip-shard2") }}
        </div>
    </div>
    <div class="tabs-panel" id="panelMap3">
        <div class="unit whole">
            <div id="ScreepsMapFlex-shard3" class="ScreepsMapFlex spinner">
                <div id="ScreepsMapContainer-shard3" class="ScreepsMapContainer"></div>
                <div id="ScreepsColorKeyContainer-shard3" class="ScreepsColorKeyContainer"></div>
            </div>
            {{ map_tooltip(tooltipId="ScreepsMapTooltip-shard3") }}
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    const mapViews = {};
    const regions = {}
    const rooms = {};
    const alliances = {};
    const zones = {};
    const shortName = '{{ shortname }}';
    const maxRoomShard = {
        shard0: "{{ maxroomshard0 }}",
        shard1: "{{ maxroomshard1 }}",
        shard2: "{{ maxroomshard2 }}",
        shard3: "{{ maxroomshard3 }}",
    }

    async function initializeShard(shard) {
        if (rooms[shard]) return;
        let maxRoom = maxRoomShard[shard] ?? 100;

        rooms[shard] = {};
        alliances[shard] = {};
        zones[shard] = {};
        regions[shard] = new ScreepsRegion(`W${maxRoom}N${maxRoom}`, `E${maxRoom}S${maxRoom}`);
        mapViews[shard] = new ScreepsMap(
            {
                spinnerHostId: `ScreepsMapFlex-${shard}`,
                mapHostId: `ScreepsMapContainer-${shard}`,
                legendHostId: `ScreepsColorKeyContainer-${shard}`,
                roomTooltipHostId: `ScreepsMapTooltip-${shard}`,
                terrainUri: `/static/img/screeps_${shard}_terrain.png`,
                legendUrlPrefix: '/a/',
                shard,
                region: regions[shard],
                style: { 'room-padding': 10 }
            });

        mapViews[shard].setSpinnerVisible(true);

        rooms[shard] = await $.getJSON(`/map/${shard}/rooms.js`);
        console.log('room data loaded', shard, rooms[shard]);
        mapViews[shard].setRoomData(rooms[shard]);

        alliances[shard] = await $.getJSON(`/map/${shard}/alliances.js`);
        console.log('alliance data loaded', shard, alliances[shard]);
        mapViews[shard].setAllianceData(alliances[shard]);

        zones[shard] = await $.getJSON(`/scanner/${shard}.novice.area.json`);
        console.log('zone data loaded', shard, zones[shard]);
        mapViews[shard].setZoneData(zones[shard]);

        mapViews[shard].setAlliance(shortName);
        mapViews[shard].setGroupType('user');
        // mapViews[shard].allowUnaffiliated();
        mapViews[shard].render();
    };

    window.onload = function () {
        initializeShard("shard0")
    }
</script>

{%- endmacro %}
